@charset "utf-8";

li {
  color: yellow;
}


p {
  color: red;
}

#form {
  color: navy;
}



/* 6/10 14:35追記 */

.dev {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* 終了 */


